@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fjalla+One&family=Poppins:ital,wght@0,200;1,200;1,300&family=Raleway:wght@300;400;500&family=Sofia+Sans+Condensed&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: url(./assest/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: default;
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  .lf {
    margin-top: 3rem;
  }
}

.justify {
  text-align: justify;
}

.opaco:hover {
  opacity: 0.8;
}
